

<div class="card mb-4" style="max-width: 1540px;" class="col-md-4 offset-md-2 mt-5" 
*ngIf="Movie">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{Movie.imageLink}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">{{Movie.title}}</h1>
          <h4 class="card-text">{{Movie.description}}</h4>
          <h3 class="card-text" class="text-muted">Genres : {{Movie.genera}}</h3>
          <div class="card-text">
  
            <mat-form-field appearance="fill">
              <mat-label>Select Date & Time</mat-label>
              <mat-select [(value)]="selected">
                <mat-option *ngFor="let date of week" [value]=date> {{ date |date:'EE, MMM d'}}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <div *ngFor="let item of shows">
              <section *ngIf="(selected | date:'EE, MMM d') == (item.date|date:'EE, MMM d')" class="button-container">
                <div class="button-row" >
                  <button [routerLink]="[
                    '/ticket/',Movie.id,'show',item.showID]" mat-raised-button color="primary">{{item.startTime}}</button>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
